@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

.backdrop {
	width: 100%;
	height: 100vh;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 50;
	top: 0;
	left: 0;
}

.setting-container {
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	padding: 2.5rem;
	position: absolute;
	min-width: 330px;
	background-color: white;
	border-radius: 8px;
	z-index: 100;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.app-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: tomato;
	color: #151515;
}

.pomodoro {
	font-family: 'Roboto Mono', monospace;
	min-width: 330px;
	border-radius: 8px;
	padding: 2.5rem;
	background-color: white;
	box-shadow: 0 0 10px 5px rgba(54, 24, 20, 0.5);
}

header {
	width: 100%;
	position: relative;
}

.title {
	text-align: center;
	font-size: 3.5rem;
	margin-bottom: 1rem;
}

.setting-icon {
	font-size: 2.5rem;
	position: absolute;
	right: 0;
	top: 0.5rem;
	cursor: pointer;
	background-color: white;
	border: none;
}

.timer-container {
	font-family: 'Share Tech Mono', monospace;
	font-size: 8rem;
	text-align: center;
}

.controls-button {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	min-width: 5rem;
	min-height: 5rem;
	background-color: rgb(206, 206, 206);
	border-radius: 50%;
	font-size: 2.5rem;
	margin: 0 1rem;
	cursor: pointer;
	border: none;
}

@media screen and (max-width: 280px) {
	.pomodoro,
	.setting-container {
		min-width: 250px;
	}
}
